.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  opacity: 40%;
  width: 250%;
  animation: rotateImg 120s infinite alternate;
}

@keyframes rotateImg {
  0% {
    transform: rotate(0) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(1.5);
  }
}

@media screen and (min-width: 500px) {
  .bg-img {
    width: 150%;
  }
}
