.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  opacity: 40%;
  animation: rotateImg 60s infinite alternate;
}

.btn-submit {
  font-family: Audiowide, "Courier New", Courier, monospace !important;
  animation: growShrink 1s ease-in-out infinite alternate;
}

.container-sponsor {
  width: 100%;
}

.sponsor-img {
  max-width: 200px;
}

.container-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.figure-img {
  max-width: 250px;
  margin: 0;
  padding: 0;
}

.container-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.8rem;
  background-color: transparent;
}

.palmeras {
  font-size: 2rem;
  animation: mirror 2s ease-in-out infinite alternate;
  transform: scale(1.5);
}
@keyframes mirror {
  0% {
    transform: rotate(20deg) scaleX(-1);
  }
  100% {
    transform: rotate(-20deg) scaleX(1);
  }
}
@keyframes rotateImg {
  0% {
    transform: rotate(0) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(3);
  }
}

@media screen and (min-width: 500px) {
  .bg-img {
    width: 110%;
  }
}

@keyframes growShrink {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px white;
  }
  100% {
    transform: scale(1.1);
    box-shadow: 0 0 10px white;
  }
}
